body {
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}
h1,
h2,
p,
ul,
ol,
a {
  color: antiquewhite;
}
h1,
h2 {
  text-align: center;
}
p {
  margin: 20px;
}
img {
  width: 300px;
  display: block;
  height: auto;
  margin: auto;
}
ul img {
  width: auto;
  height: 200px;
}
.source {
  text-align: center;
  margin-bottom: 50px;
}
.coloring, h1, h2 {
  background-color: brown;
}
div ul {
  display: flex;
  justify-content: space-between;
  width: calc(100%-50px);
  margin: 0 50px;
  padding: 0;
}
div li {
  display: block;
  list-style-type: none;
  text-align: center;
}
